  @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bungee+Tint&family=Edu+VIC+WA+NT+Beginner:wght@400..700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Matemasie&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Mukta:wght@200;300;400;500;600;700;800&family=New+Amsterdam&display=swap');

  body {

     font-family: Arial, sans-serif;
     background-color: #f0f0f0;
     /* display: flex; */
     /* justify-content: center; */
     align-items: center;
     margin: 0;
     background-image: url("./media/weather.jpg");
     background-size: cover;
  }

  .container {
     text-align: center;
     background-color: rgba(255, 255, 255, 0.634);
     padding: 40px;
     border-radius: 8px;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  }


  input {
     padding: 10px;
     border: 1px solid #ccc;
     border-radius: 4px;
     width: 200px;
     margin-right: 10px;
  }

  .navbar-brand {
     font-family: "Matemasie", sans-serif;
     font-weight: 400;
     font-style: normal;
  }

  button {
     padding: 10px;
     background-color: rgb(78, 78, 78);
     color: white;
     border: none;
     border-radius: 4px;
     cursor: pointer;
  }

  button:hover {
     background-color: rgb(179, 177, 177);
     color: black;
  }

  #weatherResult {
     margin-top: 20px;
     font-size: 18px;
  }

  .bg-image {
     overflow: hidden;
     transition: transform 0.3s ease-in-out;
  }

  .bg-image:hover img {
     transform: scale(1.1);
  }

  .bg-image img {
     display: block;
     width: 100%;
     transition: transform 0.3s ease-in-out;
  }

  h1 {
     font-family: "Libre Baskerville", serif;
     font-weight: 400;
     font-style: normal;
  }